:root {
  /* Colors */
  --clr-primary-violet: hsl(257, 40%, 49%);
  --clr-primary-soft-magenta: hsl(300, 69%, 71%);

  /* Font Family */
  --font-family-primary: "Open Sans", sans-serif;
  --font-family-secondary: "Poppins", sans-serif;

  /* Font Weight */
  --font-weight-bold: 600;
  --font-weight-regular: 400;

  /* Font Size */
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.25rem;
  --font-size-700: 1.5rem;
  --font-size-800: 1.875rem;
  --font-size-900: 2.25rem;
}

/* Reset */
/*  https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  background-color: var(--clr-primary-violet);
  background-image: url(bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  color: white;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-300);
  height: 100dvh;
  height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

header img {
  max-width: 7rem;
}

.image-section {
  display: flex;
  justify-content: center;
}
.image-section img {
  width: 80%;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-section * {
  margin-bottom: 1rem;
}
h1 {
  margin-top: 2rem;
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
p {
  text-align: center;
}

button {
  background-color: white;
  color: var(--clr-primary-violet);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social-links img {
  color: white;
  border: 0.1rem solid black;
  border-radius: 5rem;
  width: 2rem;
  padding: 0.2rem;
  margin: 0 0.2rem 0 0.2rem;
}
/* to change the color of the svg
https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
.filter-white {
  filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(215deg)
    brightness(113%) contrast(93%);
}

button:hover {
  background-color: var(--clr-primary-soft-magenta);
  color: white;
}

.social-links img:hover {
  filter: invert(64%) sepia(91%) saturate(585%) hue-rotate(231deg)
    brightness(94%) contrast(94%);
}

/* Media queries */
@media (min-width: 40em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content-section {
    align-items: flex-start;
  }
  p {
    font-size: var(--font-size-400);
    text-align: left;
  }
  h1 {
    font-size: var(--font-size-700);
    text-align: left;
  }
  .social-links {
    justify-content: flex-end;
    margin-right: 5rem;
  }
}
